[Unit]
Description=Open WebUI service

[Service]
Type=simple
Environment=DATA_DIR=~/.local/share/.open-webui
ExecStart=/home/pe/.local/bin/uvx --python 3.11 open-webui@latest serve

[Install]
WantedBy=default.target
